{% extends "email/base.html" %}

{% block style %}
{% endblock %}

{% block content %}

    <h1>Дорогой клиент,</h1>

    <p>Чтобы восстановить доступ к&nbsp;аккаунту, пожалуйста, перейдите по&nbsp;ссылке ниже:</p>

    <p>
        <a href="{{ protocol }}://{{ domain }}/password-reset/{{ uid }}/{{ token }}/">
            {{ protocol }}://{{ domain }}/password-reset/{{ uid }}/{{ token }}/
        </a>
    </p>
{% endblock %}

{% block unsubscribe %}
    <p>
        Данное письмо сгенерировано автоматически. Просьба не&nbsp;отвечать на&nbsp;него. В&nbsp;случае возникновения
        вопросов, обращайтесь в&nbsp;Онлайн поддержку
    </p>
{% endblock %}